.html {
  --background: light-dark(oklch(100% 0 0deg), oklch(14.48% 0 0deg));
  --foreground: light-dark(oklch(20.46% 0 0deg), oklch(94.61% 0 0deg));
  --container-width: 900px;

  font-family: system-ui;
  color-scheme: light dark;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
}
