.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: var(--sidebar-translate);
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
  width: var(--sidebar-width);
  padding: var(--size-md) var(--size-sm);
  background: var(--color-bg-surface);
  box-shadow: var(--sidebar-shadow);
  transition:
    margin 150ms ease-out,
    left 150ms ease-out;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  display: flex;
  gap: var(--size-sm);
  align-items: center;
  font-weight: 500;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.content {
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  padding-left: var(--size-sm);
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-text-subtle);
}

.button {
  cursor: pointer;
}

.lists {
  padding: 0;
  list-style: none;
}

.list {
  display: flex;
}

.link {
  width: 100%;
  padding: var(--size-sm);
  font-size: 0.875rem;
  line-height: 1;
  color: inherit;
  text-decoration: none;
  border-radius: var(--size-sm);

  &:hover {
    background: var(--color-bg-surface-hover);
  }
}

@media (--tablet-portrait-up) {
  .aside {
    position: static;
    margin-left: var(--sidebar-translate);
    box-shadow: none;
  }

  .trigger {
    display: none !important;
  }
}
